body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: radial-gradient(circle at center,
    #4b2d84 0%,
    #231b35 70%,
    #1a1428 100%
  );
  font-family: "Poppins", sans-serif;
}